---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mosquitto
  namespace: frontend

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  namespace: frontend
  labels:
    app: mosquitto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      serviceAccountName: mosquitto
      containers:
        - image: eclipse-mosquitto
          imagePullPolicy: IfNotPresent
          name: mosquitto
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
          readinessProbe:
            tcpSocket:
              port: mqtt
            timeoutSeconds: 5
          ports:
            - containerPort: 1883
              name: mqtt
          volumeMounts:
            - name: mosquitto
              mountPath: "/mosquitto/config"
            - name: mosquitto-data
              mountPath: "/mosquitto/data"
            - name: mosquitto-log
              mountPath: "/mosquitto/log"
      volumes:
        - name: mosquitto
          configMap:
            name: mosquitto-config
        - name: mosquitto-data
          persistentVolumeClaim:
            claimName: mosquitto-data
        - name: mosquitto-log
          persistentVolumeClaim:
            claimName: mosquitto-log
