global
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    maxconn  4000
    pidfile  /var/run/haproxy.pid
    server-state-base  /var/lib/haproxy/
    server-state-file  last_state
    ssl-default-bind-ciphers  TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256
    ssl-default-server-ciphers  TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256
    tune.ssl.default-dh-param  2048

defaults
    balance roundrobin
    default-server check
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout client 20s
    timeout server 20s
    timeout connect 4s
    default-server init-addr last,libc,none
    default-server  resolvers dns
    default-server  resolve-prefer ipv4
    default-server  init-addr last,libc,none
    load-server-state-from-file  global

resolvers dns
    nameserver dns-01 192.168.1.1:53
    resolve_retries 3
    timeout retry 1s
    hold other 30s
    hold refused 30s
    hold nx 30s
    hold timeout 30s
    hold valid 10s

frontend kubernetes-apiserver-https
    bind *:6443
    mode tcp
    option tcplog
    default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
    mode tcp
    option tcp-check
    balance roundrobin
    {% for cp in _global_controlplane_hosts %}
    server {{ cp }} {{ hostvars[cp]['ansible_host'] }}:6443 check resolvers dns fall 3 rise 2
    {% endfor %}

listen stats
    bind *:32700
    stats enable
    stats uri /
    stats hide-version
    stats auth admin:admin



