global
    log /dev/log  local0 warning
    chroot      {{ lb_sub_file_mappings['var']['lib']['haproxy']['chroot'] }}
    pidfile     {{ lb_sub_file_mappings['var']['lib']['haproxy']['pidfile'] }}
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

   stats socket {{ lb_sub_file_mappings['var']['lib']['haproxy']['stats_socket'] }}

defaults
  log global
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

frontend kube-apiserver
  bind *:{{ config['vip']['port'] }}
  mode tcp
  option tcplog
  default_backend kube-apiserver

backend kube-apiserver
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    {% for cp in _global_controlplane_hosts %}
    server {{ cp }} {{ hostvars[cp]['ansible_host'] }}:6443 check
    {% endfor %}



