---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: mosquitto
  name: mosquitto-data
  namespace: frontend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
status: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: mosquitto
  name: mosquitto-log
  namespace: frontend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
status: {}
