---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: zigbee2mqtt
  namespace: frontend

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zigbee2mqtt
  namespace: frontend
  labels:
    app: zigbee2mqtt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zigbee2mqtt
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: zigbee2mqtt
    spec:
      serviceAccountName: zigbee2mqtt
      nodeSelector:
        zigbee: "true"
      containers:
        - image: koenkk/zigbee2mqtt:latest
          imagePullPolicy: IfNotPresent
          name: zigbee2mqtt
          env:
            - name: TZ
              value: Europe/Amsterdam
            - name: "ZIGBEE2MQTT_DATA"
              value: "/data"
            - name: "ZIGBEE2MQTT_CONFIG_MQTT_SERVER"
              value: "mqtt://mosquitto:1883"
            - name: "ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC"
              value: "zigbee2mqtt"
            - name: "ZIGBEE2MQTT_CONFIG_MQTT_USER"
              value: "{{ mqtt_username }}"
            - name: "ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD"
              value: "{{ mqtt_password }}"
            - name: "ZIGBEE2MQTT_CONFIG_PERMIT_JOIN"
              value: "true"
            - name: "ZIGBEE2MQTT_CONFIG_SERIAL_PORT"
              value: "/dev/ttyACM0"
            - name: "ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID"
              value: "GENERATE"
            - name: "ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY"
              value: "GENERATE"
            - name: "ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID"
              value: "GENERATE"
            - name: "ZIGBEE2MQTT_CONFIG_FRONTEND"
              value: "true"
          securityContext:
            privileged: true
            readOnlyRootFilesystem: false
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: zigbee2mqtt-data
              mountPath: /data
            - name: zigbee2mqtt-udev
              mountPath: /run/udev
            - name: ttyusb0
              mountPath: /dev/ttyACM0
          livenessProbe:
             tcpSocket:
               port: http
             initialDelaySeconds: 0
             failureThreshold: 3
             timeoutSeconds: 1
             periodSeconds: 10
          readinessProbe:
             tcpSocket:
               port: http
             initialDelaySeconds: 0
             failureThreshold: 3
             timeoutSeconds: 1
             periodSeconds: 10
          startupProbe:
             tcpSocket:
               port: http
             initialDelaySeconds: 0
             failureThreshold: 30
             timeoutSeconds: 1
             periodSeconds: 5
      volumes:
        - name: zigbee2mqtt-data
          persistentVolumeClaim:
            claimName: zigbee2mqtt-data
        - name: zigbee2mqtt-udev
          hostPath:
            path: /run/udev
        - name: ttyusb0
          hostPath:
            path: /dev/serial/by-id/usb-Silicon_Labs_Sonoff_Zigbee_3.0_USB_Dongle_Plus_0001-if00-port0

