---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration

nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"

skipPhases:
  - preflight
  - addon/kube-proxy
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ config['vip']['dns'] }}:6443" # change this (see below)
etcd:
  external:
    endpoints:
      {% for etcdnode in etcd_ips %}
      - "https://{{ etcdnode }}:2379"
      {% endfor %}

    caFile: {{ cp_sub_file_mappings['system']['kubernetes']['cluster_certs'][0] }}
    certFile: {{ cp_sub_file_mappings['system']['kubernetes']['cluster_certs'][1] }}
    keyFile: {{ cp_sub_file_mappings['system']['kubernetes']['cluster_certs'][2] }}
controllerManager:
  extraArgs:
    allocate-node-cidrs: "true"
apiServer:
  extraArgs:
    enable-aggregator-routing: "true"
    allow-privileged: "true"
    authorization-mode: "Webhook,RBAC,Node"
    enable-bootstrap-token-auth: "true"
networking:
  podSubnet: {{ cluster_cni[config['cni']]['pod_network'] | default('10.10.0.0/16') }}

clusterName: "honklabs"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
rotateCertificates: true
serverTLSBootstrap: true
cgroupDriver: systemd
containerRuntimeEndpoint: "unix:///var/run/containerd/containerd.sock"


